table,th,tr,td{border:1px solid black }

.headingtest{
display:inline;}


#nav{
    position:fixed;
    right:0;
    line-height:20px;
    background-color:#eeeeee;
    width:110px;
    padding:5px; }

#banner{background-color:black;
	color:yellow}
 
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    float:left;
    width:100%
}


a:hover, a:active {
    background-color: red;
}

input[type=text]{width:25%}
